<div class="container">
  
  <h2>Aims and Scope</h2>
  <p>Transformations of structured data such as relational data, abstract syntax trees and high-level graph-based models are cross-disciplinary at the heart of a wide range of applications. The success of transformation approaches heavily depends on the availability of expressive and efficient tools. Currently, a large variety of tools exist for different transformation approaches. However, for potential users, working in application domains where transformation techniques may be useful, it is difficult to select the right tool for their purpose. Moreover, even for most of the tool experts it is true that they know about one or two tools but little about others. Finally, the tool developers themselves can also be inspired by a more detailed understanding of related approaches.</p>

  <h3>Aims</h3>
  <p>The aim of this event is to evaluate and compare the expressiveness, the usability and the performance of transformation tools for structured data along a number of selected challenging case studies. That is, we want to learn about the pros and cons of each tool considering different applications. A deeper understanding of the relative merits of different tool features will help to further improve the existing tools, to indicate open problems, and to integrate and standardize transformation tools.</p>

  <h3>Scope</h3>
  <p>There is a wide range of application domains of transformation tools, including software engineering, business intelligence, logistics, healthcare and bioinformatics, as well as semantic web and social network analysis.</p>

  <p>Specific areas of transformations relevant for the TTC include (among others):
    <ul>
      <li>model synchronisation and merging,</li>
      <li>program manipulation and translation,</li>
      <li>interoperability and migration,</li>
      <li>model execution and simulation,</li>
      <li>verification of models and transformations,</li>
      <li>knowledge extraction and semantic search</li>
    </ul>
  </p>

  <p>If you are working in one of these area or a different domain where structured data transformations are relevant, please consider submitting a case.</p>

  <p>In addition to the above list of applications, we particularly encourage submitting cases for the following focus topics of the TTC 2014:</p>
  <ul>
    <li>meta-transformations,</li>
    <li>big-data transformations</li>
  </ul>
</div>