<div class="container">

  <div class="row">
    <div class="col-md-8">

      <h3>Call for Cases</h3>

      <h4>What is this about?</h4>
      
      <p>Transformations of structured data such as relational data, abstract syntax trees, graphs and high-level software models are at the heart of a wide range of applications. Their success heavily depends on the availability of powerful and easy-to-use tools. There is an increasingly large number of transformation tools that follow many different approaches, and this creates challenges for the community at large. Users and tool experts may have missed a recent development in the area, and they may not use the best tool for the job. Tool developers may wish to compare their tool against others, but risk the threat to validity that they may not be using the other tools to their full extent.</p>

      <p>The Transformation Tools Contest aims to help users, experts and tool developers to learn about the state-of-the-art through practical case studies. While some of these case studies may revisit well-known transformations, we are always looking for new case studies from the community that look at the bleeding edge in the field or challenge current tools in some way. If you have an interesting transformation problem in hand, or if you know about one, we would like to hear about it! We mention some specific areas that we consider relevant to TTC in our aims and scope page.</p>

      <p>Owing to the pandemic, there will only be offline cases, in which reasonably complex problems that are solvable over two months will be published.</p>

      <p>Authors of cases are asked to facilitate a thorough comparison of state-of-the-art transformation tool features for solving a particular problem with the aim of submitting a journal article with qualifying solutions to one of the following journals after the workshop:</p>

      <ul>
        <li><a href="https://www.sosym.org/">The International Journal on Software and Systems Modeling (SoSyM)</a></li>
        <li><a href="http://www.jot.fm/">The Journal of Object Technology (JOT)</a></li>
        <li><a href="https://www.springer.com/journal/10009">The International Journal on Software Tools for Technology Transfer (STTT)</a></li>
      </ul>

      <p>More information about what to consider in a case can be found below.</p>

      <h4>Case submission</h4>

      <p>By <strong>31st of March</strong>, please submit your case description in PDF format through <a href="http://easychair.org/conferences/?conf=ttc21">EasyChair</a>. A previous expression of interest is not a requirement to submit a case. The case description should include a URL to a source code repository (e.g. GitHub, Bitbucket, GitLab) that contains a reference solution and an evaluation methodology, and a basic issue tracker that solution authors may use to ask questions about the case study. For the evaluation methodology, you are welcome to draw from past case studies. If you have an idea for a case study but do not know where to start or which previous case to base it on, feel free to start a discussion with us at <code>ttc21 AT easychair DOT org</code>code>.</p>

      <p>The case description should be in the ACM acmart LaTeX document class (see <a href="http://www.sigplan.org/Resources/Author/">here</a> and <a href="https://www.acm.org/publications/proceedings-template">here</a>), using the "sigconf" style and with the "review" option enabled, and not exceeding 10 pages (excluding references and appendices).</p>

      <p>The description should answer these questions:</p>

      <ul>
        <li>What is the context of the case?</li>
        <li>What is the subject to be modeled?</li>
        <li>What is the purpose of the subject?</li>
        <li>What are the variation points in the case?</li>
        <li>Are there any specific research questions you would like to answer through the participation of the community? What is the novel aspect of the problem that has not been published earlier?</li>
        <li>What are the criteria for evaluating the submitted solutions to the case? These criteria should include pointers to the sections to be included in the short paper describing the solution.</li>
        <li>What should be the prizes for the case? Usually, there may be one or more "Best X" (where X is a desired attribute), and then a "Best Overall" solution with the best balance between all attributes.</li>
        <li>Correctness test: which are the reference input/ouput documents and how should they be used? Ideally, a case description includes a test suite, as well as a test driver. The test driver can be an online web service, a local script that can be deployed in <a href="https://is.ieis.tue.nl/staff/pvgorp/share/">SHARE</a>, or a Docker image on <a href="https://hub.docker.com/">Docker Hub</a>. You can reuse frameworks from past case studies - feel free to ask us!</li>
        <li>Which transformation tool-related features are important and how can they be classified? (e.g., formal analysis of the transformation program, rule debugging support, ...)</li>
        <li>What transformation language-related challenges are important and how can they be classified? (e.g., declarative bidirectionality, declarative change propagation, declarative subgraph copying, cyclic graph support, typing issues, ...)</li>
        <li>How to measure the quality of submitted solutions, at the design level? (e.g., measure the number of rules, the conciseness of rules, ...)</li>
        <li>How can the solutions be evaluated (ranked) systematically?</li>
        <li>Building on the above, define threshold criteria for solutions to be eligible in the journal article so that PC members can objectively refer qualifying solutions.</li>
      </ul>

      <h4>Subsequent Phases</h4>

      <p>Following the selection of a subset of the submitted cases by our programme committee, the following phases will be conducted.</p>

      <p><strong>Phase 2</strong>: Case solution submission. All those who like to participate in the contest will be asked to choose one or more case studies, take their favorite transformation tool and submit their solutions. A separate call for solutions will be distributed, after the cases have been selected. A solution consists both of a technical short paper describing the solution and of accompanying software artifacts in a git repository (usually a clone of the repository provided for the case).</p>

      <p><strong>Phase 3</strong>: Open peer review. The solution reviewing before the workshop will be done by other solution submitters. All solution submitters have to review three other solutions to the case that they have addressed. These reviews will not be anonymous, since these reviewers ideally will also be the opponents at the workshop. The purpose of the peer reviewing is that the participants get as much insight into the competitor's solutions as possible and also to raise potential problems. Case submitters should be available at this stage to resolve conflicting interpretations (if any) about the case description.</p>

      <p><strong>Phase 4</strong>: Presentations. The solutions submitted for each case will be presented by their proponents. Case submitters should have evaluated independently the various presented solutions according to the spreadsheet, and should be present during the break to discuss the final awards to be given. For more details (such as example cases and solutions from previous editions), please consult the other sections of the TTC website.</p>

      <p><strong>Phase 5</strong>: Post-proceedings. Solution proponents improve the short paper with the feedback received during the workshop. Such papers will be reviewed by programme committee members selecting which solutions are eligible for the journal article of each case, according to the corresponding eligilibility criteria. All papers, including cases and solutions, will appear in the post-proceedings.</p>

      <p><strong>Phase 6</strong>: Journal article. Case authors prepare journal articles with eligible solutions.</p>

    </div>
  </div>
</div>
