<div class="container">

  <div class="row">
    <div class="col-md-8">

      <h3>Call for Papers</h3>

      <h4>What is this about?</h4>

      <p>Transformations of structured data such as relational data, abstract syntax trees, graphs and high-level software models are at the heart of a wide range of applications, including but not limited to the development of low-code platforms. Their success heavily depends on the availability of powerful and easy-to-use tools. There is an increasingly large number of transformation tools that follow many different approaches, and this creates challenges for the community at large. Users and tool experts may have missed a recent development in the area, and they may not use the best tool for the job. Tool developers may wish to compare their tool against others, but risk the threat to validity that they may not be using the other tools to their full extent.</p>

      <p>The Transformation Tools Contest aims to help users, experts and tool developers to learn about the state-of-the-art through practical case studies. While some of these case studies may revisit well-known transformations, we always look for new case studies from the community that look at the bleeding edge in the field or challenge current tools in some way. If you have an interesting transformation problem at hand, or if you know about one, we are happy to learn about it! We mention some specific areas that we consider relevant to TTC in our aims and scope page.</p>

      <p>Over its past editions, the TTC has established a multitude of case studies. Therefore, for TTC 2025, we decided to change the way how TTC works. While past editions used separate calls for cases and solutions, we now have a single call for contributions where contributions can be made in one of the following categories:</p>

      <ul>
        <li><a href="cfc.html">New case studies</a></li>
        <li><a href="cfs.html">Solutions to case studies of past TTC edition</a></li>
        <li><a href="cfs.html">Solutions to previous cases</a></li>
      </ul>

    </div>
  </div>
</div>
