<div class="container">
  
  <div class="row">
    <div class="col-md-8">
  
      <h3>Call for Solutions</h3>
      <p>The 2014 Transformation Tool Contest (TTC) seeks your solutions to two challenging transformation problems, involving transforming financial XML models into object-oriented code, and transforming the very large model that underpins the IMDb movie database. The deadline for solution descriptions is 23 April 2014, immediately followed by a round of open, peer reviewing. As in previous editions, solution descriptions will be published in a post-proceedings volume, and potentially lead to continued collaboration for producing a per-case journal article.</p>
      
      <h4>About TTC</h4>
      <p>The aim of this event is to compare the expressiveness, the usability
and the performance of graph and model transformation tools along
a number of selected case studies. A deeper understanding of the relative
merits of different tool features will help to further improve graph
and model transformation tools and to indicate open problems.</p>

<p>This contest is the seventh of its kind (after an AGTiVE 2007 session,
as GraBaTs 2008 and 2009 workshops, and the TTC 2010, 2011 and 2013 workshops).
For the second time, the contest is co-located with several leading software engineering conferences as part of the <a href="http://www.cs.york.ac.uk/staf">Software Technologies: Applications and Foundations</a> (STAF) federation. Teams from the major international 
research groups in the development and use of model transformation tools are
expected to participate in the TTC again.</p>

  <h4>Participating in the Contest</h4>
  <p>The following two challenging case studies have been selected:</p>
  <ul>
    <li><a href="https://github.com/transformationtoolcontest/ttc2014-fixml">The FIXML to Java, C# and C++ Case</a> by Kevin Lano, Sobhan Yassipour-Tehrani, and Krikor Maroukian.</li>
    <li><a href="https://github.com/ckrause/ttc2014-imdb">The Movie Database Case</a> by Tassilo Horn, Christian Krause and Matthias Tichy</a></li>
  </ul>
  
  <p>The case description, supporting resources, and discussion between solution developers are hosted at the Github repositories linked to above.</p>
  
  <p>If you would like to participate in the contest, you are now asked to
choose one or more case studies, take your favourite transformation
tool and submit your solutions. A submission should consist of a
paper and the actual solution (i.e., programs, models, etc.). The paper should include a description of the chosen case study variant (if any) and a presentation of the chosen solution, including a discussion of design decisions. Examples can be explored at the <a href="http://planet-sl.org/ttc2013/">TTC 2013 website</a>.</p>

<p>Solutions should be submitted via Easychair by <strong>23 April 2014</strong>. Before the same deadline, each case study solution (tool, project
files, documentation) should be made available for review and demonstration
via SHARE. For submissions via Easychair, sign-up and instructions to SHARE, 
please visit:
  <ul>
    <li><a href="http://www.easychair.org/conferences?conf=ttc2014">Easychair submission page</a></li>
    <li><a href="http://is.tm.tue.nl/staff/pvgorp/share/?page=Signup&bundlename=TTC14">SHARE sign-up</a></li>
    <li><a href="http://fmt.cs.utwente.nl/redmine/wiki/grabats/SHARE">SHARE wiki</a></li>
  </ul>
</p>

<p>Immediately after the submission deadline, please note solution developers will be asked to participant in a round of <em>open review</em> of other solutions. Therefore, we ask that all solution developers are available in the period <strong>23 Apr 2014 to 07 May 2014</strong> to participate in these discussions.</p>

<p>Besides the presentations of the submitted solutions, the workshop held on the <strong>25 Jul 2014</strong> in York (United Kingdom) will comprise a live contest: an additional transformation case that will not be announced until a few days before the workshop. There will be dedicated hackspace during the week of STAF for solution developers wishing to work on the live contest.</p>

  <h4>Publication Procedure</h4>
  <p>For TTC 2014 there will be three more or less formal publication opportunities:</p>
    <ul>
      <li>The informal pre-proceedings will appear on the TTC website. They
    contain the descriptions of the accepted cases and all the solution
    papers.</li> 
      <li>After the workshop there will be more formal workshop proceedings.
    Solution submitters have to consider and address the opponents' statements.
    The resulting solution papers will be reviewed by the TTC program
    committee. A selection of revised solution papers together with the
    case descriptions will be published in the workshop proceedings
    which are currently planned to appear in WS-CEUR.</li>
      <li>Past editions of TTC have often resulted in one journal publication per case. Those articles have introduced the case and compare the solutions from a high-level perspective. Also the results of the evaluation sheets filled in during the workshop will be considered. These articles were compiled and edited by the case submitters together with the workshop organizers. We anticipate interest in similar efforts following the 2014 edition of the workshop</li>
    </ul>
    </div>
  </div>
</div>