<div class="container">

  <div class="row">
    <div class="col-md-8">

      <h3>Call for Solutions</h3>

      <p>
        The 2023 Transformation Tool Contest (TTC) seeks your own
        spins of two interesting model transformation problems. The
        deadline for solution descriptions is <strong>29th June 2023</strong>,
        immediately followed by a round of open peer reviewing. As in
        previous editions, solution descriptions will be published in
        a post-proceedings volume, and lead to continued
        collaboration for producing a per-case journal article.
      </p>

      <h4>About TTC</h4>

      <p>The aim of this event is to compare the expressiveness, the usability
        and the performance of graph,  model and program transformation tools along
        a number of selected case studies. A deeper understanding of the relative
        merits of different tool features will help to further improve transformation tools
      and to indicate open problems.</p>

      <p>This contest is the fifteenth of its kind (after an AGTiVE 2007 session,
        as GraBaTs 2008 and 2009 contests, and the TTC 2010, 2011, 2013--2021 contests).
        For the eighth time, the contest is co-located with several leading
        software engineering conferences as part of the
        <a href="https://staf2021.hvl.no/">Software Technologies: Applications and Foundations</a>
        (STAF) federation. Teams from the major international research groups
        in the development and use of transformation tools are expected to
      participate in the TTC again.</p>

      <h4>Participating in the Contest</h4>

      <p>The following case studies have been selected:</p>

      <ul>
        <li><a href="2021_ocl2psql.pdf" target="_blank">The TTC 2021 OCL2PSQL Case</a> (<a href="https://github.com/bluezio/ttc2021-ocl2sql">Resources</a>).</li>
        <li><a href="2021_labflows.pdf" target="_blank">Incremental Recompilation of Laboratory Workflows</a> (<a href="https://github.com/tecan/ttc21incrementalLabWorkflows">Resources</a>)</li>
      </ul>

      <p>The case description, supporting resources, and discussion between solution developers are hosted at the source code repositories linked to above.</p>

      <p>If you would like to participate in the contest, you are now
        asked to take your favourite transformation tool and submit your
        solutions. A submission should consist of a paper and the actual
        solution (i.e., programs, models, etc.). The paper should include a description of the chosen case study variant (if any) and a presentation of the chosen solution, including a discussion of design decisions.
        Examples can be explored at the <a href="http://www.transformation-tool-contest.eu/2019/">TTC 2019 website</a>.</p>

        <p>Solutions should be submitted via <a href="https://easychair.org/conferences/?conf=ttc21">Easychair</a> by <strong>7th June 2021</strong>. Before the same deadline, each case study solution (tool,
          project files, documentation) should be made available for review and demonstration via a public version control repository (e.g. on Github or Bitbucket). <a href="https://hub.docker.com/">Docker Hub</a> images would be highly appreciated as well.</p>

          <p>Immediately after the submission deadline, please note solution developers will be asked to participate in a round of <em>open review</em> of other solutions. Therefore, we ask that all solution developers are available in the period <strong>1st June to 14th June 2021</strong> to participate in these discussions.</p>

            <%#
            <!-- Artur: Constraints on solution papers? -->
            <p>Please note that solutions that are ultimately published in the post-proceedings will not exceed 5 pages and will be formatted using the <a href=http://ceur-ws.org/Vol-XXX/samplestyles/?"">CEUR-WS style</a>. There are no such page limit or formatting restrictions on the  initial descriptions of a solution (i.e., the solutions submitted on the 1st of June).</p> /*
            %>

            <p>Besides the presentations of the submitted solutions, we will have an online event where solution authors will be asked to present their solutions in front of a bigger audience and answer any questions afterwards. The date of this event will be defined together with solution authors.</p>

            <h4>Publication Procedure</h4>

            <p>For TTC 2021 there will be several publication opportunities:</p>

            <ul>
              <li>The informal pre-proceedings will appear on the TTC website. They
                contain the descriptions of the accepted cases and all the solution
              papers.</li>
              <li>After the contest there will be more formal contest proceedings.
                Solution submitters have to consider and address the opponents' statements.
                The resulting solution papers will be reviewed by the TTC program
                committee. A selection of revised solution papers together with the
              case descriptions will be published in the contest proceedings.</li>
              <li>In TTC 2021, cases will be reviewed by a steering committee, judging
                the suitable publication venues, significance of the problem statement,
                and appropriateness of the evaluation methodology. This feedback will be
                passed on to case authors to allow the case to be improved, with the aim
                to facilitate a thorough comparison of the state-of-the-art in model
                transformation, which may be submitted to one of the following journals
                after the workshop:
                <ul>
                  <li><a href="https://www.sosym.org/">The International Journal on Software and Systems Modeling (SoSyM)</a></li>
                  <li><a href="http://www.jot.fm/">The Journal of Object Technology (JOT)</a></li>
                  <li><a href="https://www.springer.com/journal/10009">The International Journal on Software Tools for Technology Transfer (STTT)</a></li>
                </ul>
              </li>

            </ul>
        </div>
    </div>
</div>
