<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <img id="logo" src="images/raven_logo.png" class="img-responsive centered">
      </div>
      <div class="col-md-10">
        <h2>13th Transformation Tool Contest</h2>
        <p>
          A contest for users and developers of transformation tools.
        </p>

        <p>
          Part of the Software Technologies: Applications and Foundations (STAF)
        federated conferences.</p>

        <p>Hosted at the Western Norway University of Applied Sciences in Bergen, Norway on Friday <strong>26 June 2020</strong>.</p>

      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h3>Important Dates</h2>
      <table class="table">
        <tr>
          <td>Call for cases</td>
          <td>12 December 2019</td>
        </tr>
        <tr>
          <td>Expression of Interest</td>
          <td>20 January 2020</td>
        </tr>
        <tr>
          <td>Case Submission Deadline</td>
          <td><s>24 February 2020</s><br/>2 March 2020</td>
        </tr>
        <tr>
          <td>Solution Submission Deadline</td>
          <td>15 May 2020</td>
        </tr>
        <tr>
          <td>Solution notification</td>
          <td>1 June 2020</td>
        </tr>
        <tr>
          <td>Open peer review deadline</td>
          <td>15 June 2020</td>
        </tr>
      </table>
    </div>

    <div class="col-md-4">
      <h3>Organizers</h2>
      <ul class="people">
        <li><a href="https://www-users.cs.york.ac.uk/~agd516/">Antonio Garcia-Dominguez</a><br><em>Aston University, UK</em></li>
        <li>Georg Hinkel<br><em>Tecan Software Competence Center, Germany</em></li>
        <li><a href="http://fikovnik.net/">Filip K&#345;ikava</a><br><em>Czech Technical University, CZ</em></li>
        <li><a href="https://www.cs.le.ac.uk/people/aboronat/">Artur Boronat</a><br><em>University of Leicester, UK</em></li>
      </ul>
    </div>

    <div class="col-md-4">
      <h3>News</h2>
      <ul>
          <li>12/12/2019: The website is live.</li>
          <li>12/12/2019: Call for Cases is out.</li>
          <li>21/01/2020: We continue to look for submissions! Feel free to contact us if you have ideas for a case.</li>
          <li>26/03/2020: Call for Solutions is out.</li>
      </ul>
    </div>

  </div>
</div>
