<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <img id="logo" src="images/raven_logo.png" class="img-responsive centered">
      </div>
      <div class="col-md-10">
        <h2>10th Transformation Tool Contest</h2>
        <p>
          A contest for users and developers of transformation tools.
        </p>

        <p>
          Part of the
            <a href="http://www.informatik.uni-marburg.de/staf2017/">Software Technologies: Applications and Foundations (STAF)</a>
        federated conferences.</p>

        <p>Hosted at the <a href="http://www.uni-marburg.de/">Philipps-Universität Marburg</a>, Germany on Friday <strong>21 July 2017</strong>.</p>

      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h3>Important Dates</h2>
      <table class="table">
        <tr>
          <td>Call for cases</td>
          <td>5 December</td>
        </tr>
        <tr>
          <td>Case submission deadline<br/><i>extended</i></td>
          <td><s>24 March</s><br/>31 March</td>
        </tr>
        <tr>
             <td>Call for solutions</td>
             <td>25 April</td>
             </tr>
        <tr>
            <td>Solution submission deadline<br/><i>extended</i></td>
            <td><s>25 May</s><br/>1 June</td>
             </tr>
        <tr>
             <td><strong>Open peer review deadline</strong></td>
             <td><strong>11 June</strong></td>
             </tr>
        <tr>
             <td>Notification</td>
             <td>14 June</td>
             </tr>
        <tr>
             <td>Live contest announced</a></td>
             <td>17 July</td>
             </tr>
        <!-- <tr>
             <td>Solution presentations</td>
             <td>8 July</td>
             </tr> -->
        <!-- <tr>
             <td>Post-proceedings submission deadline</td>
             <td>12 August</td>
             </tr> -->
        <!-- <tr>
             <td>Post-proceedings notification</td>
             <td>16 September</td>
             </tr> -->
        <!-- <tr>
             <td><strong>Post-proceedings camera ready deadline</strong><br/><i>extended</i></td>
             <td><s>30 September</s><br/><strong>3 October</strong></td>
             </tr> -->
      </table>
    </div>

    <div class="col-md-4">
      <h3>Organizers</h2>
      <ul class="people">
        <li><a href="https://www-users.cs.york.ac.uk/~agd516/">Antonio Garcia-Dominguez</a><br><em>Aston University, UK</em></li>
        <li><a href="http://www.fzi.de/wir-ueber-uns/organisation/mitarbeiter/address/1789/?no_cache=1">Georg Hinkel</a><br><em>FZI Research Center of Information Technologies (Karlsruhe), Germany</em></li>
        <li><a href="http://fikovnik.net/">Filip K&#345;ikava</a><br><em>Northeastern University, USA</em></li>
      </ul>
    </div>

    <div class="col-md-4">
      <h3>News</h2>
      <ul>
          <li><strong>17/07/2016: <a href="https://github.com/georghinkel/ttc2017LiveContest">Resources</a> for live contest are up.</strong></li>
               <li>14/06/2017: Solution authors notified.</li>
               <li>02/06/2017: Open Review has started.</li>
               <li>25/04/2017: Call for Solutions is out.</li>
               <li>05/12/2017: Call for Cases is out.</li>
        <li>05/12/2016: The website is live.</li>
      </ul>
    </div>

  </div>
</div>
