<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <img id="logo" src="images/raven_logo.png" class="img-responsive centered">
      </div>
      <div class="col-md-10">
        <h2>14th Transformation Tool Contest</h2>
        <p>
          A contest for users and developers of transformation tools.
        </p>

        <p>Part of the Software Technologies: Applications and Foundations (STAF)
        federated conferences.</p>

        <p>Hosted as an online event running in 2021 (TBD).</p>

      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h3>Important Dates</h2>
      <table class="table">
        <tr>
          <td>Call for cases</td>
          <td>26 January 2021</td>
        </tr>
        <!--
        <tr>
          <td>Expression of Interest</td>
          <td>20 January 2020</td>
        </tr>
        <tr>
          <td>Case Submission Deadline</td>
          <td><s>24 February 2020</s><br/>2 March 2020</td>
        </tr>
        <tr>
          <td>Solution Submission Deadline</td>
          <td><s>1 June 2020</s><br/>15 June 2020</td>
        </tr>
        <tr>
          <td>Open peer review deadline</td>
          <td>3 July 2020</td>
        </tr>
        <tr>
            <td>Online event</td>
            <td>17 July 2020</td>
        </tr>
        <tr>
            <td>Post-proceedings submission deadline</td>
            <td>21 September 2020</td>
        </tr>
        <tr>
            <td>Post-proceedings notification</td>
            <td>16 October 2020</td>
        </tr>
        <tr>
            <td>Post-proceedings camera ready deadline</td>
            <td>30 October 2020</td>
        </tr>-->
      </table>
    </div>

    <div class="col-md-4">
      <h3>Organization change due to pandemic situation</h3>
      <p>
        Due to the pandemic situation worldwide, the Program Committee and the
        organizers of the TTC decided that the TTC 2020 will be held as an
        online event, decoupled from STAF unlike earlier announcements. In
        particular, we plan the folowing changes compared to previous editions:

        <ul>
          <li>The event will take place as a <strong>free online event</strong>. We are evaluating technical options to host an online event.</li>
          <li>The plan for TTC is to have a <strong>synchronized virtual event</strong> where
            solution authors do present their solutions and answer questions
            from opponent solutions afterwards. However, we also plan to record
            the event such that the presentations can be viewed later on (provided we get the presenters consent).</li>
          <li>The fact that we are decoupled from the STAF schedule means that
          we can be more flexible in terms of timelines. We have therefore <strong>extended the solution submission deadline</strong> to 15th of June.</li>
          <li>The TTC 2020 will not offer a live contest.</li>
        </ul>

        We have not yet completely decided how TTC 2021 will take place.
      </p>

      <h3>Organizers</h3>
      <ul class="people">
        <li><a href="https://www-users.cs.york.ac.uk/~agd516/">Antonio Garcia-Dominguez</a><br><em>Aston University, UK</em></li>
        <li>Georg Hinkel<br><em>Tecan Software Competence Center, Germany</em></li>
        <li><a href="https://www.cs.le.ac.uk/people/aboronat/">Artur Boronat</a><br><em>University of Leicester, UK</em></li>
      </ul>
    </div>

    <div class="col-md-4">
      <h3>News</h2>
      <ul>
          <li>25/01/2021: The website is live.</li>
      </ul>
    </div>

  </div>
</div>
