<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <img id="logo" src="images/raven_logo.png" class="img-responsive centered">
      </div>
      <div class="col-md-10">
        <h2>12th Transformation Tool Contest</h2>
        <p>
          A contest for users and developers of transformation tools.
        </p>

        <p>
          Part of the Software Technologies: Applications and Foundations (STAF)
        federated conferences.</p>

        <p>Hosted at the TUE in Eindhoven, The Netherlands on Friday <strong>19 July 2019</strong>.</p>

      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h3>Important Dates</h2>
      <table class="table">
        <tr>
          <td>Call for cases</td>
          <td>3 December</td>
        </tr>
        <tr>
          <td>Case submission deadline</td>
          <td>25 March</td>
        </tr>
        <tr>
          <td>Call for solutions</td>
          <td>10 May</td>
        </tr>
        <tr>
            <td>Solution submission deadline</td>
            <td>17 June</td>
        </tr>
        <!--
        <tr>
             <td>Notification</td>
             <td>1 July</td>
             </tr>
        <tr>
             <td>Live contest announced</a></td>
             <td>15 July</td>
        </tr>
        <tr>
             <td>Solution presentations</td>
             <td>19 July</td>
        </tr>
        <tr>
             <td><strong>Post-proceedings submission deadline</strong></td>
             <td><strong>28 August</strong></td>
             </tr>
        <tr>
             <td>Post-proceedings notification</td>
             <td><s>25 September</s><br/>2 October</td>
             </tr>
        <tr>
             <td>Post-proceedings camera ready deadline</td>
             <td>16 October</td>
             </tr>-->
      </table>
    </div>

    <div class="col-md-4">
      <h3>Organizers</h2>
      <ul class="people">
        <li><a href="https://www-users.cs.york.ac.uk/~agd516/">Antonio Garcia-Dominguez</a><br><em>Aston University, UK</em></li>
        <li>Georg Hinkel<br><em>Tecan Software Competence Center, Germany</em></li>
        <li><a href="http://fikovnik.net/">Filip K&#345;ikava</a><br><em>Czech Technical University, CZ</em></li>
      </ul>
    </div>

    <div class="col-md-4">
      <h3>News</h2>
      <ul>
          <li>10/05/2019: Call for Solutions is out.</li>
          <li>26/05/2019: Updated case description.</li>
	  <!--
          <li>26/04/2017: Case submission deadline extended.</li>
          <li>14/11/2017: The website is live.</li>
          <li>03/12/2017: Call for Cases is out.</li>
          <li>16/04/2018: Call for Solutions is out.</li>
          <li><b>25/06/2018: Live Contest is announced.</b></li>-->
      </ul>
    </div>

  </div>
</div>
