<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>7th Transformation Tool Contest</h2>
        <p>
          A 2-day contest for users and developers of transformation tools.
        </p>
        
        <p>
          Part of the
          <a href="http://stafconferences.info">Software Technologies: Applications and Foundations (STAF)</a>
        federated conferences.</p>

        <p>Hosted at the University of York, United Kingdom, between 21st July - 25th July 2014.</p>
        
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>News</h2>
      <ul>
        <li><strong>05/11/2013</strong>: The website is live.</li>
      </ul>
    </div>
    
    <div class="col-sm-4">
      <h3>Important Dates</h2>
      <ul>
      </ul>
    </div>
    
    <div class="col-sm-4">
      <h3>Organizers</h2>
      <ul>
        <li><a href="http://www.cs.york.ac.uk/~louis">Louis Rose</a>, University of York</li>
        <li><a href="http://www.hpi.uni-potsdam.de/giese/personen/dr_christian_krause.html">Christian Krause</a>, Hasso Plattner Institute</li>
        <li><a href="http://www.uni-koblenz-landau.de/koblenz/fb4/institute/IST/AGEbert/personen/tassilo-horn">Tassilo Horn</a>, University of Koblenz-Landau</li>
      </ul>
    </div>
    
  </div>
</div>