<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <img id="logo" src="images/raven_logo.png" class="img-responsive centered">
      </div>
      <div class="col-md-10">
        <h2>16th Transformation Tool Contest</h2>
        <p>
          A contest for users and developers of transformation tools.
        </p>

        <p>Part of the Software Technologies: Applications and Foundations (STAF)
        federated conferences.</p>

        <p>Hosted at Koblenz on June 13th, as part of <a href="<%= data.settings.stafLink %>">STAF 2025</a>.</p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
        <h3>Important Dates</h2>
        <table class="table">
          <tr>
            <td>Call for Papers</td>
            <td><%=data.settings.submission%></td>
          </tr>
          <tr>
            <td>Author Notification</td>
            <td><%=data.settings.notification%></td>
          </tr>
          <tr>
            <td>Workshop</td>
            <td><%=data.settings.workshop%></td>
          </tr>
        </table>

        <h3>Organizers</h3>
        <ul class="people">
          <li><a href="https://www.hs-rm.de/de/hochschule/personen/hinkel-georg">Georg Hinkel</a><br><em>RheinMain University of Applied Sciences, Germany</em></li>
          <li><a href="https://sandragreiner.github.io/">Sandra Greiner</a><br><em>University of Southern Denmark</em></li>
          <li><a href="https://theo.lecalvar.fr/">Théo Le Calvar</a><br><em>IMT Atlantique, Nantes, France</em></li>
        </ul>
    </div>

    <div class="col-md-4">
      <h3>Live Contest</h3>
      <p>This year, we have another live contest. Find the resources <a href="https://github.com/TransformationToolContest/ttc2025-live">here</a>
      In order to participate:
      <ol>
      <li>Fork the repository</li>
      <li>Create your solution (or ask an AI agent to do that)</li>
      <li>Submit a Pull Request</li>
      <li>Present your solution at the Friday session (D 239 or online)</li>
      </ol>
      </p>      
      <h3>Changed Format</h3>
      <p>This year, we changed the format of the TTC. The most important changes are the following:
      <ul>
      <li>You can still submit cases and solutions, but from this year, you can also submit new or significantly updated solutions to past cases. For this, we created an <a href="cases.html">Overview page</a> that lists past cases.</li>
      <li>If you submit a solution to an older case, you have to compare your solution with all known existing solutions.</li>
      <li>If you submit a case, you can only expect solution papers in the following edition of the TTC.</li>
      </ul>
      </p>
    </div>

    <div class="col-md-4">
      <h3>News</h2>
      <ul>
         <li>14 October 2024: Website is live.</li>
      </ul>

      <h3>Sponsors</h3>
      <p>This event has been sponsored by <a href="http://ceur-ws.org/">CEUR Workshop Proceedings</a>.</p>
    </div>

  </div>
</div>
