<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <img id="logo" src="images/raven_logo.png" class="img-responsive centered">
      </div>
      <div class="col-md-10">
        <h2>15th Transformation Tool Contest</h2>
        <p>
          A contest for users and developers of transformation tools.
        </p>

        <p>Part of the Software Technologies: Applications and Foundations (STAF)
        federated conferences.</p>

        <p>Hosted at Leicester on Thursday 20th July, 2023, as part of <a href="https://conf.researchr.org/home/staf-2023">STAF 2023</a>.</p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
        <h3>Important Dates</h2>
        <table class="table">
          <tr>
            <td><s>Call for cases</s></td>
            <td>3 February 2023</td>
          </tr>
          <tr>
            <td><s>Case Submission Deadline</s></td>
            <td>14 April 2023</td>
          </tr>
          <tr>
            <td>Solution Submission Deadline</td>
            <td><s>29 June 2023</s><br /><b>6 July 2023</b></td>
          </tr>
          <tr>
            <td>Open peer review deadline</td>
            <td><s>13 July 2023</s><br /><b>17 July 2023</b></td>
          </tr>
          <tr>
            <td>Event</td>
            <td><s>20 July 2023</s></td>
          </tr>
          <tr>
            <td>Post-proceedings submission deadline</td>
            <td>11 September 2023</td>
          </tr>
          <tr>
            <td>Post-proceedings notification</td>
            <td>9 October 2023</td>
          </tr>
          <tr>
            <td>Post-proceedings camera ready deadline</td>
            <td>6 November 2023</td>
          </tr>
        </table>
    </div>

    <div class="col-md-4">
      <h3>Organizers</h3>
      <ul class="people">
        <li><a href="https://www-users.york.ac.uk/~agd516/">Antonio Garcia-Dominguez</a><br><em>University of York, UK</em></li>
        <li>Georg Hinkel<br><em>RheinMain University of Applied Sciences, Germany</em></li>
        <li><a href="https://arturboronat.info/">Artur Boronat</a><br><em>University of Leicester, UK</em></li>
      </ul>
    </div>

    <div class="col-md-4">
      <h3>News</h2>
      <ul>
         <li>1 February 2023: Website is live.</li>
         <li>2 May 2023: Call for Solutions is online.</li>
         <li>10 Jul 2023: Program is online.</li>
         <li>10 Jul 2023: Open peer review starts.</li>
      </ul>

      <h3>Sponsors</h3>
      <p>This event has been sponsored by <a href="http://ceur-ws.org/">CEUR Workshop Proceedings</a>.</p>
    </div>

  </div>
</div>
