<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <img id="logo" src="images/raven_logo.png" class="img-responsive centered">
      </div>
      <div class="col-md-10">
        <h2>8th Transformation Tool Contest</h2>
        <p>
          A contest for users and developers of transformation tools.
        </p>

        <p>
          Part of the
          <a href="http://www.disim.univaq.it/staf2015/">Software Technologies: Applications and Foundations (STAF)</a>
        federated conferences.</p>

        <p>Hosted at the Universita degli Studi dell'Aquila, Italy on <strong>23 July 2015</strong>.</p>

      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h3>Important Dates</h2>
      <table class="table">
         <tr>
          <td>Call for cases</td>
          <td>7 Jan 2015</td>
        </tr>
        <tr>
          <td>Case submission deadline</td>
          <td>11 Mar 2015</td>
        </tr>
        <tr>
          <td>Call for solutions</td>
          <td>25 Mar 2015</td>
        </tr>
        <tr>
          <td><strong>Solution submission deadline</strong></td>
          <td><strong>29 Apr 2015</strong></td>
        </tr>
        <tr>
          <td>Open peer review deadline</td>
          <td>20 May 2015</td>
        </tr>
        <tr>
          <td>Notification</td>
          <td>27 May 2015</td>
        </tr>
        <tr>
          <td>Live contest announced</td>
          <td>20 Jul 2015</td>
        </tr>
        <tr>
          <td>Solution presentations</td>
          <td>23 July 2015</td>
        </tr>
        <!-- <tr>
          <td>Post-proceedings submission deadline</td>
          <td>22 Aug</td>
        </tr>
        <tr>
          <td>Post-proceedings notification</td>
          <td>19 Sep</td>
        </tr>
        <tr>
          <td><strong>Post-proceedings camera ready deadline</strong></td>
          <td><strong>1 Oct</strong></td>
        </tr> -->
      </table>
    </div>

    <div class="col-md-4">
      <h3>Organizers</h2>
      <ul>
        <li><a href="http://www.uni-koblenz-landau.de/koblenz/fb4/institute/IST/AGEbert/personen/tassilo-horn">Tassilo Horn</a>, University of Koblenz-Landau</li>
        <li><a href="http://fikovnik.net">Filip K&#345;ikava</a>, University of Lille &amp; INRIA Lille</li>
        <li><a href="http://www.cs.york.ac.uk/~louis">Louis Rose</a>, University of York</li>
      </ul>
    </div>

    <div class="col-md-4">
      <h3>News</h2>
      <ul>
        <li><strong>25/03/2015</strong>: The <a href="/cfs.html">call for solutions</a> is available.</li>
        <li><strong>14/11/2014</strong>: The website is live.</li>
      </ul>
    </div>

  </div>
</div>
