<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <img id="logo" src="images/raven_logo.png" class="img-responsive centered">
      </div>
      <div class="col-md-10">
        <h2>9th Transformation Tool Contest</h2>
        <p>
          A contest for users and developers of transformation tools.
        </p>

        <p>
          Part of the
          <a href="http://staf2016.conf.tuwien.ac.at/">Software Technologies: Applications and Foundations (STAF)</a>
        federated conferences.</p>

        <p>Hosted at the Vienna Technical University (<a href="http://www.tuwien.ac.at/">TU Wien</a>), Austria on Friday <strong>8 July 2016</strong>.</p>

      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h3>Important Dates</h2>
      <table class="table">
         <tr>
          <td>Call for cases</td>
          <td>15 January</td>
        </tr>
        <tr>
          <td>Case submission deadline<br/><i>extended</i></td>
          <td><s>17 March</s><br/>28 March</td>
        </tr>
        <tr>
          <td>Call for solutions<br/><i>extended</i></td>
          <td><s>31 March</s><br/>6 April</td>
        </tr>
        <tr>
          <td>Solution submission deadline<br/><i>extended</i></td>
          <td><s>09 May</s><br/>15 May</td>
        </tr>
        <tr>
          <td>Open peer review deadline</td>
          <td>25 May</td>
        </tr>
        <tr>
          <td>Notification</td>
          <td>27 May</td>
        </tr>
        <tr>
          <td><strong>Live contest announced</strong></a></td>
          <td><strong>4 July</strong></td>
        </tr>
        <tr>
          <td>Solution presentations</td>
          <td>8 July</td>
        </tr>
        <!--
        <tr>
          <td>Post-proceedings submission deadline</td>
          <td>TBA</td>
        </tr>
        <tr>
          <td>Post-proceedings notification</td>
          <td>TBA</td>
        </tr>
        <tr>
          <td>Post-proceedings camera ready deadline</td>
          <td>TBA</td>
        </tr>
      -->
      </table>
    </div>

    <div class="col-md-4">
      <h3>Organizers</h2>
      <ul class="people">
        <li><a href="https://www-users.cs.york.ac.uk/~agd516/">Antonio Garcia-Dominguez</a><br><em>Aston University, UK</em></li>
        <li><a href="http://fikovnik.net/">Filip K&#345;ikava</a><br><em>Czech Technical University, CZ</em></li>
        <li><a href="http://www.cs.york.ac.uk/~louis/">Louis Rose</a><br><em>University of York, UK</em></li>
      </ul>
    </div>

    <div class="col-md-4">
      <h3>News</h2>
      <ul>
        <li><strong>04/07/2016: Live case study announced.</strong></li>
        <li>26/05/2016: Solution authors notified.</li>
        <li>17/05/2016: Open Review has started.</li>
        <li>06/04/2016: Call for Solutions is out.</li>
        <li>15/01/2016: Call for Cases is out.</li>
        <li>14/01/2016: The website is live.</li>
      </ul>
    </div>

  </div>
</div>
