<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <img id="logo" src="images/raven_logo.png" class="img-responsive centered">
      </div>
      <div class="col-md-10">
        <h2>14th Transformation Tool Contest</h2>
        <p>
          A contest for users and developers of transformation tools.
        </p>

        <p>Part of the Software Technologies: Applications and Foundations (STAF)
        federated conferences.</p>

        <p>Hosted as an online event on Friday 25th June, 2021, as part of <a href="https://staf2021.hvl.no/">STAF 2021</a>.</p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h3>Important Dates</h2>
      <table class="table">
        <tr>
          <td>Call for cases</td>
          <td>26 January 2021</td>
        </tr>
        <tr>
          <td>Expression of Interest</td>
          <td><s>7 February 2021</s></td>
        </tr>
        <tr>
          <td>Case Submission Deadline</td>
          <td>31 March 2021</td>
        </tr>
        <tr>
          <td>Solution Submission Deadline</td>
          <td>31 May 2021</td>
        </tr>
        <%#
        <!--
        <tr>
          <td>Open peer review deadline</td>
          <td>3 July 2020</td>
        </tr>
        <tr>
            <td>Online event</td>
            <td>17 July 2020</td>
        </tr>
        <tr>
            <td>Post-proceedings submission deadline</td>
            <td>21 September 2020</td>
        </tr>
        <tr>
            <td>Post-proceedings notification</td>
            <td>16 October 2020</td>
        </tr>
        <tr>
            <td>Post-proceedings camera ready deadline</td>
            <td>30 October 2020</td>
        </tr>-->
        %>
      </table>
    </div>

    <div class="col-md-4">
      <h3>Running as a virtual event</h3>
      <p>
          The STAF 2021 organizers have decided to run STAF one more year as a
          virtual event, given the current global situation of the pandemic, and
          the restrictions that are still in place.
      </p>

      <h3>Organizers</h3>
      <ul class="people">
        <li><a href="https://cs.aston.ac.uk/~garcia-a/">Antonio Garcia-Dominguez</a><br><em>Aston University, UK</em></li>
        <li>Georg Hinkel<br><em>Tecan Software Competence Center, Germany</em></li>
        <li><a href="https://arturboronat.info/">Artur Boronat</a><br><em>University of Leicester, UK</em></li>
      </ul>
    </div>

    <div class="col-md-4">
      <h3>News</h2>
      <ul>
          <li>25/01/2021: The website is live.</li>
          <li>25/02/2021: Confirmed as a virtual event.</li>
          <li>30/03/2021: Call for solutions is live.</li>
      </ul>
    </div>

  </div>
</div>
