<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <img id="logo" src="images/raven_logo.png" class="img-responsive centered">
      </div>
      <div class="col-md-10">
        <h2>7th Transformation Tool Contest</h2>
        <p>
          A 2-day contest for users and developers of transformation tools.
        </p>
        
        <p>
          Part of the
          <a href="http://stafconferences.info">Software Technologies: Applications and Foundations (STAF)</a>
        federated conferences.</p>

        <p>Hosted at the University of York, United Kingdom, between 21st July - 25th July 2014.</p>
        
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h3>News</h2>
      <ul>
        <li><strong>05/11/2013</strong>: The website is live.</li>
      </ul>
    </div>
    
    <div class="col-md-4">
      <h3>Important Dates</h2>
      <p>Coming soon.</p>
    </div>
    
    <div class="col-md-4">
      <h3>Organizers</h2>
      <ul>
        <li><a href="http://www.uni-koblenz-landau.de/koblenz/fb4/institute/IST/AGEbert/personen/tassilo-horn">Tassilo Horn</a>, University of Koblenz-Landau</li>
        <li><a href="http://www.ckrause.org">Christian Krause</a>, SAP Innovation Center</li>
        <li><a href="http://www.cs.york.ac.uk/~louis">Louis Rose</a>, University of York</li>
      </ul>
    </div>
    
  </div>
</div>