<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <img id="logo" src="images/raven_logo.png" class="img-responsive centered">
      </div>
      <div class="col-md-10">
        <h2>7th Transformation Tool Contest</h2>
        <p>
          A contest for users and developers of transformation tools.
        </p>
        
        <p>
          Part of the
          <a href="http://stafconferences.info">Software Technologies: Applications and Foundations (STAF)</a>
        federated conferences.</p>

        <p>Hosted at the University of York, United Kingdom on 25th July 2014.</p>
        
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h3>Important Dates</h2>
      <table class="table">
        <tr>
          <td>Call for cases</td>
          <td>6 Jan 2014</td>
        </tr>
        <tr>
          <td>Case submission deadline</td>
          <td>26 Feb 2014</td>
        </tr>
        <tr>
          <td>Call for solutions</td>
          <td>12 Mar 2014</td>
        </tr>
        <tr>
          <td>Solution submission deadline</td>
          <td>30 Apr 2014</td>
        </tr>
        <tr>
          <td><strong>Open peer review deadline</strong></td>
          <td><strong>21 May 2014</strong></td>
        </tr>
        <tr>
          <td>Notification</td>
          <td>28 May 2014</td>
        </tr>
    		<tr>
    			<td>Live contest announced</td>
    			<td>21 Jul 2014</td>
    		</tr>
        <tr>
          <td>Solution presentations</td>
          <td>25 Jul 2014</td>
        </tr>
      </table>
    </div>
    
    <div class="col-md-4">
      <h3>Organizers</h2>
      <ul>
        <li><a href="http://www.uni-koblenz-landau.de/koblenz/fb4/institute/IST/AGEbert/personen/tassilo-horn">Tassilo Horn</a>, University of Koblenz-Landau</li>
        <li><a href="http://www.ckrause.org">Christian Krause</a>, SAP Innovation Center</li>
        <li><a href="http://www.cs.york.ac.uk/~louis">Louis Rose</a>, University of York</li>
      </ul>
    </div>
	
    <div class="col-md-4">
      <h3>News</h2>
      <ul>
        <li><strong>05/11/2013</strong>: The website is live.</li>
		    <li><strong>22/11/2013</strong>: Important dates have been announced.</li>
        <li><strong>06/01/2014</strong>: The <%= link_to 'call for cases', '/cfc.html' %> is available.</li>
        <li><strong>12/03/2014</strong>: The <%= link_to 'call for solutions', '/cfs.html' %> is available.</li>
        <li><strong>01/05/2014</strong>: The 2014 solutions are available for open review.</li>
        <li><strong>03/06/2014</strong>: The <%= link_to 'schedule', '/schedule.html' %>  for the contest is available.</li>
      </ul>
    </div>
    
  </div>
</div>
