<div class="container">

  <div class="row">
    <div class="col-md-12">

      <h3>Live Contest</h3>

      <p>The 2015 live contest has begun. Start your engines!</p>

      <p>All of the case resources are on Github at: <a href="https://github.com/fikovnik/ttc15-live-contest">https://github.com/fikovnik/ttc15-live-contest</a></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3>Awards</h3>
      <p>The solutions were scored at the contest, resulting in the following awards:</p>
    </div>

    <div class="col-md-3">
        <a href="images/awards/Live_1.jpg" class="thumbnail">
          <img src="images/awards/Live_1.jpg">
        </a>
        <div class="caption">
          <h6>1st: Epsilon</h6>
        </div>
    </div>

    <div class="col-md-3">
        <a href="images/awards/Live_2.jpg" class="thumbnail">
          <img src="images/awards/Live_2.jpg">
        </a>
        <div class="caption">
          <h6>2nd: Spoon</h6>
        </div>
    </div>

    <div class="col-md-3">
        <a href="images/awards/Live_3.jpg" class="thumbnail">
          <img src="images/awards/Live_3.jpg">
        </a>
        <div class="caption">
          <h6>3rd: ATL</h6>
        </div>
    </div>

    <div class="col-md-3">
        <a href="images/awards/Live_4.jpg" class="thumbnail">
          <img src="images/awards/Live_4.jpg">
        </a>
        <div class="caption">
          <h6>3rd: SDMLib</h6>
        </div>
    </div>
  </div>
</div>
