<div class="container">
  
  <div class="row">
    <div class="col-md-12">
  
      <h3>Live Contest</h3>
      
      <p>The 2014 live contest has begun. Start your engines!</p>

      <p>Case resources:</p>
      <ul>
        <li>
          <a href="https://www.dropbox.com/s/4x6u0nfwisv6psa/case_desc.pdf">Case description</a> (PDF) and
          <a href="https://www.dropbox.com/s/7a49t2d0vfj33mp/announcement.zip">Announcement slides</a> (ZIP)
        </li>
        
        <li>
          <a href="https://www.dropbox.com/s/4hzp5navfjazwqq/soccerpitch.ecore">Soccer Pitch</a> and 
          <a href="https://www.dropbox.com/s/p5uoi9dvsrqt6ew/updatemodel.ecore">Update Model</a> metamodels (Ecore)
        </li>
        
        <li>
          <a href="https://www.dropbox.com/s/rfhe6alng4lk56i/SoccerServer.jar">Soccer Server</a> and 
          <a href="https://www.dropbox.com/s/mqbblym48t8ob0e/ttc14-soccer-client.jar">Reference Client</a> (JAR)
        </li>
      </ul>
      
    </div>
  </div>
</div>