<div class="container">
  <div class="row">
    <div class="col-md-12">

      <h3>Live Case Study</h3>

      <p>The 2016 live contest has begun. Start your engines!</p>

      <p>The case resources are available on Github: <a href="https://github.com/bluezio/ttc2016-live">https://github.com/bluezio/ttc2016-live</a>. The slides are <a href="solutions/live/live-slides.pdf">here</a>.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3>Awards</h3>
      <p>The live contest solutions were scored at the contest, resulting in the following awards:</p>
    </div>

    <div class="col-md-3">
        <a href="images/awards/Live-1.jpg" class="thumbnail">
          <img src="images/awards/Live-1.jpg">
        </a>
        <div class="caption">
          <h6>The Best Overall Solution: SIGMA</h6>
        </div>
    </div>

    <div class="col-md-3">
        <a href="images/awards/Live-2.jpg" class="thumbnail">
          <img src="images/awards/Live-2.jpg">
        </a>
        <div class="caption">
          <h6>2nd Best Overall Solution: NMF</h6>
        </div>
    </div>

    <div class="col-md-3">
        <a href="images/awards/Live-3-1.jpg" class="thumbnail">
          <img src="images/awards/Live-3-1.jpg">
        </a>
        <a href="images/awards/Live-3-2.jpg" class="thumbnail">
          <img src="images/awards/Live-3-2.jpg">
        </a>
        <div class="caption">
          <h6>3rd Best Overall Solution: ATL and Mofongo</h6>
        </div>
    </div>
  </div>
</div>
