<div class="container">

  <div class="row">
    <div class="col-md-12">

      <h3>Solutions to the Live Contest</h3>
      <% solutions = data.solutions_liveContest  %>

      Case resources:
      <ul>
        <li><a href="https://github.com/georghinkel/ttc2017LiveContest">Description and case resources</a> (Github repository)</li>
        <li><a href="https://github.com/georghinkel/ttc2017LiveContest/issues">Discussion of solutions and open peer reviews</a> (Github issue tracker)</li>
        <li><a href="https://goo.gl/forms/jUSUVZ2ZCQoMOcjF3">Evaluation form</a> (Google Forms)</li>
      </ul>
      <p>Please submit your solution as a pull request to the <a href="https://github.com/georghinkel/ttc2017LiveContest">case repository</a> no later than 20th July 2017 23:59:59 CET.</p>

      <p>So far, the following <%=solutions.size%> solutions were submitted:</p>

      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <!-- <th>
              Presentation<br/>
            </th> -->
            <th>Tool</th>
            <th>Authors</th>
          </tr>
        </thead>
        <tbody>
          <% solutions.each_with_index do |solution, index| %>
            <tr>
              <!-- <td>
              </td> -->
              <td><strong><%=solution.tool%></strong></td>
              <td><%=solution.authors%></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
