<div class="container">
  <div class="row">
    <div class="col-md-12">

      <h3>Live Case Study</h3>

      <p>The 2016 live contest has begun. Start your engines!</p>

      <p>The case resources are available on Github: <a href="https://github.com/bluezio/ttc2016-live">https://github.com/bluezio/ttc2016-live</a>. The slides are <a href="solutions/live/live-slides.pdf">here</a>.</p>
    </div>
  </div>
</div>
