<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h3>Programme Committee</h3>
      <ul class="people">
        <li>To be confirmed</li>
      </ul>
    </div>

    <div class="col-md-4">
      <h3>Steering Committee</h3>
        <ul class="people">
          <li>Richard Paige<br><em>University of York, United Kingdom</em></li>
          <li>Arend Rensink<br><em>University of Twente, The Netherlands</em></li>
          <li>Bernhard Schatz<br><em>Technical University Munich, Germany</em></li>
          <li>Pieter Van Gorp<br><em>Technical University Eindhoven, The Netherlands</em></li>
          <li>Albert Zundorf<br><em>University of Kassel, Germany</em></li>
        </ul>
    </div>

    <div class="col-md-4">
      <h3>Organizing Committee</h3>
      <ul class="people">
        <li><a href="https://www-users.cs.york.ac.uk/~agd516/">Antonio Garcia-Dominguez</a><br><em>Aston University, United Kingdom</em></li>
        <li><a href="http://www.fzi.de/wir-ueber-uns/organisation/mitarbeiter/address/1789/?no_cache=1">Georg Hinkel</a><br><em>FZI Research Center of Information Technologies (Karlsruhe), Germany</em></li>
        <li><a href="http://fikovnik.net/">Filip K&#345;ikava</a><br><em>Northeastern University, USA</em></li>
      </ul>
  </div>
</div>
