<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h3>Programme Committee</h3>
      <ul class="people">
        <li>Olivier Barais<br><em>University of Rennes 1, France</em></li>
        <li>Philippe Collet<br><em>Université Nice Sophia-Antipolis, France</em></li>
        <li>Coen De Roover<br><em>Vrije Universiteit Brussel, Belgium</em></li>
        <li>Antonio Garcia-Dominguez<br><em>Aston University, United Kingdom</em></li>
        <li>Jeff Gray<br><em>University of Alabama, United States</em></li>
        <li>Tassilo Horn<br><em>SHD, Germany</em></li>
        <li>Akos Horvath<br><em>Budapest University of Technology and Economics, Hungary</em></li>
        <li>Christian Krause<br><em>SAP Innovation Center, Germany</em></li>
        <li>Filip K&#345;ikava<br><em>Northeastern University, USA</em></li>
        <li>Sonja Schimmler<br><em>Bundeswehr University Munich, Germany</em></li>
        <li>Arend Rensink<br><em>University of Twente, The Netherlands</em></li>
        <li>Louis Rose<br><em>University of York, United Kingdom</em></li>
        <li>Bernhard Schatz<br><em>Technische Universitat Munchen, Germany</em></li>
        <li>Massimo Tisi<br><em>Ecole des Mines de Nantes, France</em></li>
        <li>Tijs van der Storm<br><em>Centrum Wiskunde &amp; Informatica, The Netherlands</em></li>
        <li>Pieter Van Gorp<br><em>Eindhoven University of Technology, The Netherlands</em></li>
        <li>Gergely Varro<br><em>Technische Universitat Darmstadt, Germany</em></li>
        <li>Bernhard Westfechtel<br><em>University of Bayreuth, Germany</em></li>
      </ul>
    </div>

    <div class="col-md-4">
      <h3>Steering Committee</h3>
        <ul class="people">
          <li>Richard Paige<br><em>University of York, United Kingdom</em></li>
          <li>Arend Rensink<br><em>University of Twente, The Netherlands</em></li>
          <li>Bernhard Schatz<br><em>Technical University Munich, Germany</em></li>
          <li>Pieter Van Gorp<br><em>Technical University Eindhoven, The Netherlands</em></li>
          <li>Albert Zundorf<br><em>University of Kassel, Germany</em></li>
        </ul>
    </div>

    <div class="col-md-4">
      <h3>Organizing Committee</h3>
      <ul class="people">
        <li><a href="https://www-users.cs.york.ac.uk/~agd516/">Antonio Garcia-Dominguez</a><br><em>Aston University, United Kingdom</em></li>
        <li><a href="http://www.fzi.de/wir-ueber-uns/organisation/mitarbeiter/address/1789/?no_cache=1">Georg Hinkel</a><br><em>FZI Research Center of Information Technologies (Karlsruhe), Germany</em></li>
        <li><a href="http://fikovnik.net/">Filip K&#345;ikava</a><br><em>Northeastern University, USA</em></li>
      </ul>
  </div>
</div>
