<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h3>Programme Committee</h3>
      <p>To be confirmed.</p>

      <% if false %>
      <ul class="people">
        <li>Konstantinos Barmpis<br><em>University of York, United Kingdom</em></li>
        <li>Artur Boronat<br><em>University of Leicester, United Kingdom</em></li>
        <li>Juan Boubeta-Puig<br><em>University of Cádiz, Spain</em></li>
        <li>Erwan Bousse<br><em>Vienna University of Technology, Austria</em></li>
        <li>Théo Le Calvar<br><em>University of Angers, France</em></li>
        <li>Antonio Garcia-Dominguez<br><em>Aston University, United Kingdom</em></li>
        <li>Georg Hinkel<br><em>Tecan Software Competence Center, Germany</em></li>
        <li>Akos Horvath<br><em>Budapest University of Technology and Economics, Hungary</em></li>
        <li>Arend Rensink<br><em>University of Twente, The Netherlands</em></li>
        <li>Jesús Sánchez Cuadrado<br><em>Universidad de Murcia, Spain</em></li>
        <li>Gergely Varro<br><em>Independent</em></li>
        <li>Ran Wei<br><em>Dalian University of Technology, China</em></li>
      </ul>
      <% end %>
    </div>

    <div class="col-md-4">
      <h3>Steering Committee</h3>
      <p>To be confirmed.</p>
      <% if false %>
      <ul class="people">
          <li>Hubert Garavel<br><em>INRIA, France</em></li>
          <li>Juan de Lara<br><em>Universidad Autónoma de Madrid, Spain</em></li>
          <li>Pedro J. Molina<br><em>Metadev S.L.</em></li>
          <li>Richard Paige<br><em>McMaster University, Canada</em></li>
          <li>Davide di Ruscio<br><em>University of L'Aquila, Italy</em></li>
          <li>Manuel Wimmer<br><em>TU Wien, Austria</em></li>
      </ul>
      <% end %>
    </div>

    <div class="col-md-4">
      <h3>Organizing Committee</h3>
      <ul class="people">
          <li><a href="https://www-users.york.ac.uk/~agd516/">Antonio Garcia-Dominguez</a><br><em>University of York, UK</em></li>
          <li>Georg Hinkel<br><em>RheinMain University of Applied Sciences, Germany</em></li>
          <li><a href="https://arturboronat.info/">Artur Boronat</a><br><em>University of Leicester, UK</em></li>
      </ul>
  </div>
</div>
