<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h3>Programme Committee</h3>
      <ul class="people">
        <li>Anthony Anjorin<br><em>Zühlke Engineering GmbH, Germany</em></li>
        <li>Artur Boronat<br><em>University of Leicester, United Kingdom</em></li>
        <li>Thomas Buchmann<br><em>Hof University of Applied Sciences, Germany</em></li>
        <li>Mickael	Clavreul<br><em>ESEO, LUNAM University, France</em></li>
        <li>Kevin Lano<br><em>King's College London, United Kingdom</em></li>
        <li>Shekoufeh Rahimi<br><em>University of Roehampton, United Kingdom</em></li>
        <li>Alireza	Rouhi<br><em>Azarbaijan Shahid Madani University</em></li>
      </ul>
    </div>

    <div class="col-md-4">
      <h3>Steering Committee</h3>
      <ul class="people">
          <li>Hubert Garavel<br><em>INRIA, France</em></li>
          <li>Reiko Heckel<br><em>University of Leicester, UK</em></li>
          <li>Dimitris Kolovos<br><em>University of York, UK</em></li>
          <li>Juan de Lara<br><em>Universidad Autónoma de Madrid, Spain</em></li>
          <li>Davide di Ruscio<br><em>University of L'Aquila, Italy</em></li>
          <li>Manuel Wimmer<br><em>TU Wien, Austria</em></li>
          <li>Steffen Zschaler<br><em>King's College London, UK</em></li>
      </ul>
    </div>

    <div class="col-md-4">
      <h3>Organizing Committee</h3>
      <ul class="people">
        <li><a href="https://sandragreiner.github.io/">Sandra Greiner</a><br><em>University of Southern Denmark, Denmark</em></li>
          <li><a href="https://www.hs-rm.de/de/hochschule/personen/hinkel-georg">Georg Hinkel</a><br><em>RheinMain University of Applied Sciences, Germany</em></li>
          <li><a href="https://theo.lecalvar.fr/">Théo Le Calvar</a><br><em>IMT Atlantique, Nantes, France</em></li>
      </ul>
  </div>
</div>
