<div class="container">  
  <div class="row">
    <div class="col-md-4">
      <h3>Programme Committee</h3>
      <p>To be announced.</p>
    </div>
  
    <div class="col-md-4">
      <h3>Steering Committee</h3>
        <ul class="people">
          <li>Richard Paige<br><em>University of York, United Kingdom</em></li>
          <li>Arend Rensink<br><em>University of Twente, The Netherlands</em></li>
          <li>Bernhard Schätz<br><em>Technical University Munich, Germany</em></li>
          <li>Pieter Van Gorp<br><em>Technical University Eindhoven, The Netherlands</em></li>
          <li>Albert Zündorf<br><em>University of Kassel, Germany</em></li>
        </ul>
    </div>
    
    <div class="col-md-4">
      <h3>Organizing Committee</h3>
      <ul class="people">
        <li>Tassilo Horn<br><em>University of Koblenz-Landau, Germany</em></li>
        <li>Christian Krause<br><em>SAP Innovation Center, Germany</em></li>
        <li>Louis Rose<br><em>University of York, United Kingdom</em></li>
      </ul>
  </div>
</div>
  