<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h3>Programme Committee</h3>
      <ul class="people">
        <li>Konstantinos Barmpis<br><em>University of York, United Kingdom</em></li>
        <li>Artur Boronat<br><em>University of Leicester, United Kingdom</em></li>
        <li>Juan Boubeta-Puig<br><em>University of Cádiz, Spain</em></li>
        <li>Théo Le Calvar<br><em>University of Angers, France</em></li>
        <li>Antonio Garcia-Dominguez<br><em>Aston University, United Kingdom</em></li>
        <li>Georg Hinkel<br><em>RheinMain University of Applied Sciences, Germany</em></li>
        <li>Jesús Sánchez Cuadrado<br><em>Universidad de Murcia, Spain</em></li>
        <li>Gergely Varro<br><em>Independent</em></li>
        <li>Ran Wei<br><em>Dalian University of Technology, China</em></li>
		<li>Alfonso de la Vega<br><em>University of Cantabria, Spain</em></li>
      </ul>
    </div>

    <div class="col-md-4">
      <h3>Steering Committee</h3>
      <ul class="people">
          <li>Hubert Garavel<br><em>INRIA, France</em></li>
          <li>Reiko Heckel<br><em>University of Leicester, UK</em></li>
          <li>Dimitris Kolovos<br><em>University of York, UK</em></li>
          <li>Juan de Lara<br><em>Universidad Autónoma de Madrid, Spain</em></li>
          <li>Davide di Ruscio<br><em>University of L'Aquila, Italy</em></li>
          <li>Manuel Wimmer<br><em>TU Wien, Austria</em></li>
          <li>Steffen Zschaler<br><em>King's College London, UK</em></li>
      </ul>
    </div>

    <div class="col-md-4">
      <h3>Organizing Committee</h3>
      <ul class="people">
          <li><a href="https://www-users.york.ac.uk/~agd516/">Antonio Garcia-Dominguez</a><br><em>University of York, UK</em></li>
          <li><a href="https://www.hs-rm.de/de/hochschule/personen/hinkel-georg">Georg Hinkel</a><br><em>RheinMain University of Applied Sciences, Germany</em></li>
          <li><a href="https://arturboronat.info/">Artur Boronat</a><br><em>University of Leicester, UK</em></li>
      </ul>
  </div>
</div>
