<div class="container">

    <div class="row">
        <div class="col-md-12">

            <h3>Solutions to the BibtexXML to Docbook Consistency Case</h3>
            <% solutions = data.solutions_liveContest  %>

            Case resources:
            <ul>
                <li><a href="https://github.com/bluezio/ttc2019-live">Description and case resources</a> (Github repository)</li>
                <li><a href="https://github.com/bluezio/ttc2019-live/blob/master/docs/case/case-description.pdf">Case description</a></li>
                <li><a href="https://github.com/bluezio/ttc2019-live/issues">Discussion of solutions and open peer reviews</a> (Github issue tracker)</li>
            </ul>

        </div>
    </div>
</div>
