<div class="container">

  <div class="row">
    <div class="col-md-12">

      <h3>Solutions to the Roundtrip case</h3>

      Case resources:
      <ul>
        <li><a href="https://github.com/lbeurerkellner/ttc2020">Description and case resources</a> (GitHub repository)</li>
        <li><a href="2020_roundtrip.pdf">Case description</a> (<a href="tt2bdd-slides.pdf">slides</a>)</li>
        <li><a href="https://github.com/lbeurerkellner/ttc2020/issues">Discussion of solutions and open peer reviews</a> (issue tracker)</li>
        <% # <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSc9UZ99-H7b1znZ5LFnKzFSauwEVGOMumxqlsN3UxVsAMUIdQ/viewform">Audience evaluation</a> (Google form)</li> %>
      </ul>

    </div>
  </div>
</div>
