<div class="container">

    <div class="row">
        <div class="col-md-12">

            <div class="alert alert-primary" role="alert">
                This case has been postponed to TTC'21. We're looking forward to your submissions next year!
            </div>

            <h3>Solutions to the OCL to SQL case</h3>

            Case resources:
            <ul>
                <li><a href="https://github.com/bluezio/ttc2020-ocl2sql">Description and case resources</a> (Github repository)</li>
                <li><a href="2019-tt2bdd.pdf">Case description</a> (<a href="tt2bdd-slides.pdf">slides</a>)</li>
                <li><a href="https://github.com/bluezio/ttc2020-ocl2sql/issues">Discussion of solutions and open peer reviews</a> (issue tracker)</li>
                <% # <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSc9UZ99-H7b1znZ5LFnKzFSauwEVGOMumxqlsN3UxVsAMUIdQ/viewform">Audience evaluation</a> (Google form)</li> %>
            </ul>

        </div>
    </div>
</div>
